<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "logo.png", alt: "Goodfood" %>
    <% end %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Home",    root_path %></li>
        <li class="nav-link"><%= link_to "About",   about_path %></li>
        <li class="nav-link"><%= link_to "Contact", contact_path %></li>
        <li class="nav-link more"><a href="javascript:void(0)">Recipes</a>
          <ul class="submenu">
            <% Category.roots.each do |category| %>
              <% if category.has_children? %>
                <li class="more"><%= link_to category.name, '' %>
                <ul class="submenu">
                <% category.children.each do |child| %>
                  <li><%= link_to child.name, child %></li>
                <% end %>
                </ul>
              <% else %>
                <li><%= link_to category.name, category %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="nav-link"><%= link_to "Add recipe", new_recipe_path %></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <%= image_tag "search-icon.png", alt: "Search Icon" %>
          </button>
        </div>
      </div>
      <% unless logged_in? %>
      <%= link_to "Sign In", signin_path, class: "sign-in" %>
      <%= link_to "Sign Up", signup_path, class: "sign-up" %>
      <% else %>
      <%= link_to "Sign Out", signout_path, method: :delete, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>
