<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 
                                            'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/fonts' %>
</head>
<body>
<%= render 'layouts/header' %>
<section>
  <% flash.each do |key, value| %>
    <div class="flash-<%= key %>"><%= value %></div>
  <% end %>
  <div id="menu">
    <%= render 'layouts/menu' %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</section>
<%= render 'layouts/footer' %>
<script>
$('.js-accordion-trigger').bind('click', function(e){
  jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
  jQuery(this).parent().toggleClass('is-expanded');
  e.preventDefault();
});
</script>
</body>
</html>
